@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
}

.dark {
  --foreground: #fafafa;
  --background: #0a0a0a;
}

@layer base {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}
